body {
  font-family: Arial, sans-serif;
  background-color: #d8da3d;
  white-space: nowrap;
}
.left-side-bar {
  width: 200px;
  height: 100%;
  float: left;
  padding: 30px;
}
.main-container {
  width: 80%;
  float: left;
  color: #80007e;
  display: inline-block;
  white-space: nowrap;
}
.paragraphs {
  font-family: "Times New Roman", Times, serif;
  font-weight: 2;
  padding-bottom: 30px;
}
.options {
  background-color: white;
  padding: 6px 20px 6px 5px;
  text-align: left;
  color: #80007e;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  margin-bottom: 7px;
}
.options:nth-child(odd) {
  border-right: 20px solid #ff7f00;
}
.options:nth-child(even) {
  border-right: 20px solid #0000ff;
}
.footer {
  margin-top: 40px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer p {
  font-weight: 400;
}
.box-text {
  border-top: 1px dashed #80007e;
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: serif;
}
.box-text > div {
  height: 10px;
  padding: 17px;
}
.dashed-box {
  border: 2px dashed black;
  margin-bottom: 10px;
  color: black;
}
.red-dashed-box {
  border: 2px dashed red;
  color: black;
  font-style: italic;
  text-align: right;
  margin-bottom: 10px;
}
.round-box {
  border: 2px dotted #0000ff;
  text-align: center;
  font-weight: 600;
  color: black;
}
