/* adding a font to overall body */
body {
  font-family: Arial, sans-serif;
  background-color: #d8da3d;
  /* texts should not wrap by setting white space nowrap */
  white-space: nowrap;
}
/* left sidebar should float in the left position */
.left-side-bar {
  width: 200px;
  height: 100%;
  float: left;
  padding: 30px;
}

.main-container {
  width: 80%;
  color: #80007e;
  display: inline-block;
  white-space: nowrap;
}
.paragraphs {
  font-family: "Times New Roman", Times, serif;
  font-weight: 2;
}
.options {
  background-color: white;
  padding: 6px 20px 6px 5px;
  text-align: left;
  color: #80007e;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  margin-bottom: 7px;
  border-right: 20px solid black;
}
.footer {
  margin-top: 70px;
  font-style: italic;
  border-top: 1px dashed #80007e;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer p {
  font-weight: 400;
}
